body {
  font-family: sans-serif;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px #aaa;
}
